$backgroundcolor: #660022;
$color: #ffe6ee;
$font: 'Actor';

a
{
    color: $color;
}

a:hover
{
    color: #334d4d;
}

button:hover
{
    opacity: 0.9;
}

button:disabled
{
    opacity: 0.5;
}

form
{
    max-width: 100%;
    width: 100%;
}

h1
{
    text-align: left;
    font-family: $font;
    color: lightgrey;
    font-size: 5em;
    margin-top: 3%;
    margin-bottom: 4%;
}

h2
{
    text-align: center;
    font-family: $font;
    color: #333333;
    font-size: 2.5em;
    margin-top: 3%;
    margin-bottom: 2%;
}

h3
{
    text-align: left;
    color: $color;
    font-family: $font;
    font-size: 2em;
    margin-top: 3%;
    margin-bottom: 3%;

}

h4
{
    color: $color;
    text-align: left;
    font-family: $font;
    font-size: 1.5em;
    margin-top: 3%;
    margin-bottom: 2%;
}

h5
{
    font-size: 1em;
    text-align: left;
}

input
{
    max-width: 100%;
}

#channelbutton
{
    background-color: grey;
    color: white;
    margin-left: 3%;
}

#channeldiv
{
    min-height: 100vh;
}

#channels
{
    display: block;
    max-height: 60vh;
    width: 100%;
    overflow: auto;
}

#firstpage
{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 10px;
    border-color: grey;
}

#input, .input-group
{
    width: 90%;
    max-width: 90%;
}

#message
{
    color: white;
}

#nameform
{
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#namebutton, #username
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
#namebutton
{
    background-color: grey;
    color: white;
}

#posts
{
    display: block;
    max-height: 60vh;
    width: 90%;
    overflow: auto;
}

.attachmentbutton
{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.btn:disabled
{
    opacity: 0.5;
}

.card
{
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.card-header
{
    font-size: 1.3em;
}

.channelnav
{
    background-color: $backgroundcolor;
    min-height: 100vh;
}

.form-inline
{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    vertical-align: middle;
}

.handleuser
{
    color: white;
    padding-bottom: 10px;
}

.hide
{
    background-color: white;
    text-align: right;
    border-bottom: 0.5px;
}

@media (max-width: 1200px) {
  form, #channelbutton, #channelform, #newchannel, .form-control, .form-group, .form-inline
  {
      max-width: 100%;
      display: inherit;
      margin-left: auto;
      margin-right: auto;
  }

  h1
  {
      font-weight: bold;
      font-size: 2em;
      margin-top: 1%;
  }

  h3
  {
      font-size: 1em;
      margin-top: 15%;
      text-align: center;
  }

  h4
  {
      font-size: 0.8em;
      text-align: center;
  }

  h5
  {
      font-size: 0.9em;
  }

  input
  {
      max-width: 100%;
  }

  #channelbutton
  {
      margin-top: 5%;
  }

  .card-header
  {
      font-size: 0.9em;
  }

  ::placeholder
  {
    font-size: 0.6em;
  }
}

@keyframes hide {
    0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
    width: 98%;
    max-width: 98%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 0.5px solid;
    border-color: lightgrey;
    }

    95% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
    width: 98%;
    max-width: 98%;
    }

    100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    width: 98%;
    max-width: 98%;
    }
}
